/* Применяем box-sizing: border-box, чтобы не заботится об учитывании размеров границ и отступов, с помощью универсального селектора переопределяем все элементы на странице*/
html {
    box-sizing: border-box;
    }
*, *:before, *:after {
    box-sizing: inherit;
    }
/* Универсальные селекторы */
* {
	font-family: "Raleway";
    font-optical-sizing: auto;
    font-style: normal;
    color: #5b605e;
    font-size: 25px;
}
/* По тегу */
h1{
    color: rgb(29, 29, 29);
    font-size: 50;
    font-variant: initial;
    font-weight:500;
}
h4{
    color: #115570;
    font-size: 30;
    font-variant: initial;
    font-weight:300;
}
li {
    display: inline-flex;
    list-style: none;
  }
/* По классу */
.navigation {
	background:#9cc2d28a;
    position: fixed;
    margin-top: 0;
    padding-left: 200px;
    padding-right: 220px;
    justify-items: center;
    font-size: 25px;
    text-transform:uppercase;
    color:rgb(29, 29, 29);   
    left: 50%;
    transform: scale(1) translateX(-50%);
    z-index: auto;
}
.button {
    cursor: pointer;
	color:#115570;
    background-color: white;
	border-radius: 0px;
    text-transform:uppercase;
    padding: 10px 20px;
    border: 1px solid #115570;
    font-weight: 400;
    font-size: 20px;
}
button:hover { /* Псевдокласс для наведения на элемент */
    background-color: #115570;
    color: white;
    border: 1px solid white;
}
/* Grid-организация */
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* три столбца одинаковой ширины */
    grid-template-rows: fr 1fr /* три строки разных высот */
}

.container_flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item_flex {
    flex: 1;
  }
.item{
    padding: 20px;
    text-align: center;
}
.contacts{
    background-color: #9cc2d2;
}
/* По id */
h1#tourism {
    color: #115570;
}